doctype html
html
    head
        title= appTitle
        link(rel="stylesheet", type="text/css", href="./www/common/styles/styles.css")
        block head
    body
        #wrap
            block header
            .container
                block nav
                block content
            block footer